@model ApplicationCore.Entities.Product
@using Web.ViewModels.Products
@using Web.ViewModels.Images

@{
    var counter = 0;
    var products = (List<ProductViewModel>)ViewData["Products"];
    var images = (List<ImageViewModel>)ViewData["Images"];
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="container" style="width:30%">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            @for (int i = 0; i < images.Count; i++)
            {
                @if (i == 0)
                {
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i"></button>
                    continue;
                }

                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@i" aria-label="Slide @i"></button>
            }
        </div>
        <div class="carousel-inner">
            @foreach (var item in images)
            {
                @if (counter == 0)
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="@item.ImageUrl" alt="0 slide">
                    </div>
                    counter++;
                    continue;
                }
                <div class="carousel-item ">
                    <img class="d-block w-100" src="@item.ImageUrl" alt="First slide">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
