@using Web.ViewModels.Products
@using ApplicationCore.Entities.Enums
@using Web.ViewModels.Images
@model ProductImageViewModel
@{
    var fashion = CategoryEnum.Fashion;
    var imageEnumCheck = ImageEnum.Primary;
    var c = 0;
    var time = ViewBag.totaltime;


}
<h1>@time</h1>

@foreach (var item in Model.Products)
{
    if (item.Category.Equals(fashion))
    {
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <label>Name: </label>
                 @(c = 0)
                    @foreach (var imageItem in Model.Images.Where(i => i.Product.Id == item.Id))
                    {


                        @if (imageItem.imageEnum.Equals(imageEnumCheck))
                        {
                            <img src=" @imageItem.ImageUrl" style="width:30%">
                            c = c + 1;
                        }

                    }
                    @if (c < 1)
                    {

                        <img src="/images/Logo.2.jpg" style="width:100%">
                    }
                    <h4>@item.Name </h4>
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-controller="Cart" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">Cart</a>
                    <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.Id" class="btn btn-primary">Buy</a>

                </div>
            </div>
        </div>

    }

}
@section Scripts {
    <script>
        function myFunction() {
            alert("Succesfully Created Order");
        }
    </script>
}